.container{
    background-color: #f5f5f5;
    color: black;
    height: 90vh;
    width: 45vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Panchang', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.container h1 {
    padding: 8px;
}

.sub-container {
    background-color: #d5d6e3;
    border-radius: 10px;
    width: 95%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}