.container{
    background-color: #fff;
    color: black;
    max-height: 598px;
    height: 100%;
    max-width: 386px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid #ddd;
}

.container h4 {
    padding: 4px;
}

.parte-treinada {
    font-size: 15px; 
    width: 100%;
    padding-left: 20px;
    padding-bottom: 4px;

}

.sub-container {
    background-color: rgb(42, 42, 233);
    border-radius: 10px;
    width: 95%;
    height: 87%;
    padding-top: 5px;
}

.nome-do-treino {
    height: 80px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}