.container{
    background-color: #fff;
    color: black;
    height: 90vh;
    width: 30vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    border: 2px solid #ddd;
}

.container h4 {
    padding: 8px;
}

.sub-container {
    background-color: #ebeaea;
    border-radius: 10px;
    width: 95%;
    height: 88%;
}

.nome-do-treino {
    height: 80px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}